#topSection {
    width: 100%;
    background-color: #00a4d3;
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    flex: 0 1 auto;
}

#bottomSection {
    display: flex;
    flex-direction: row;
}

#formBox {
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

#textInput {
    width: 30em;
    height: 1.75em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    padding-left: 12px;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    border: 0px;
}

button {
    display: block;
    width: 7.5em;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em; 
    background-color: whitesmoke;
    color: black;
    border: 0px;
}

button:hover {
    background-color: grey;
}

#cardSection {
    margin-top: 5em;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

#cardSection > div {
    width: 320px;
}
