<div id="topSection">
    <div id="formBox">
      <h1>Odd One Out Solver</h1>
      <input id="textInput" #myValue type="text" [(ngModel)]="textField" (keyup.enter)="addNewInput(myValue.value)">
      <button type="button" class="btn btn-primary" (click)=submit()>Submit</button>
    </div>
</div>
<div id="bottomSection">
  <div id="cardSection">
    <div>
      <app-currentinputs
        *ngIf="listOfInputs.length > 0"
        [listOfInputs]="listOfInputs"
        (onItemClicked)="onItemClicked($event)">
      </app-currentinputs>
    </div>

    <div>
      <app-card
        *ngIf="showCard"
        [title]="cardDetails.title"
        [paragraphText]="cardDetails.paragraphText"
        [listOfData]="cardDetails.listOfData"    
        (onItemClicked)="cardItemClicked($event)"  
        (closeCard)="closeCard()">
      </app-card>
    </div>

    <div>
      <app-card
        *ngIf="result != null"
        [title]="'Results'"
        [paragraphText]="result.paragraphText"
        [listOfData]="result.commonItems"      
        (closeCard)="closeResultCard()">
      </app-card>
    </div>
  </div>
</div>