<div id="topSection">
  <div id="formBox">
    <h1 id="pageTitle">Odd One Out Solver</h1>
    <p id="pageDescription">Solve Odd One Out questions online</p>
    <div id="inputBar" class="noselect">
      <input id="textInput" #textValue type="text" [(ngModel)]="textField" (keyup.enter)="addNewInput(textValue.value)">
      <span id="enterButton" (click)="addNewInput(textValue.value)">Enter</span>
    </div>
    <button id="submitButton" class="noselect" type="button" (click)=submit()>Solve</button>
  </div>
</div>
<div id="bottomSection">
  <!-- <div id="pullDownBar">
      <img id="settings" src="../../assets/svg/settings.svg">
  </div> -->
  
  <!-- <div id="settingSection">
  </div> -->

  <div id="informationContainer" *ngIf="!cardsOpen() && showHelp">
    <div id="informationCard">
      <img src="assets/svg/x-button.svg" (click)="showHelp = false">
      <h3>Instructions</h3>
      <ol>
        <li>Enter 3 or more items</li>
        <li>Select solve</li>
      </ol>      
    </div>
  </div>

  <div id="cardSection">
    <div>
      <app-currentinputs
        *ngIf="listOfInputs.length > 0"
        [listOfInputs]="listOfInputs"
        (onItemClicked)="onItemClicked($event)">
      </app-currentinputs>
    </div>
    <div>
      <app-card     
        *ngIf="showCard"
        [title]="cardDetails.title"
        [paragraphText]="cardDetails.paragraphText"
        [listOfData]="cardDetails.listOfData"    
        (onItemClicked)="cardItemClicked($event)"  
        (closeCard)="closeCard()">
      </app-card>
    </div>
    <div>
      <app-card
        *ngIf="result != null"
        [title]="'Results'"
        [paragraphText]="result.paragraphText"
        [listOfData]="result.commonItems"      
        (closeCard)="closeResultCard()">
      </app-card>
    </div>
  </div>
</div>
<div id="footer">
  <div id="footerItems">
      <a id="github" href="https://github.com/FriedWings/angular-ooo-solver" target="_blank">
        Github
      </a>
  </div>
</div>