#topSection {
    background-color: black;
    background-image: url("../../assets/img/background.jpg");
    background-size: cover;
    border-bottom: 0.5em solid rgba(65, 61, 61);
}

#pageTitle {
    color: #f36384;
    font-weight: 700;
    clear: both;
}

#pageDescription {
    font-weight: 500;
    color: whitesmoke;
}

#settings {
    width: 20px;
}

#pullDownBar {
    float: right;
    margin-right: 2em;
    background-color: rgba(65, 61, 61);
    width: 5em;
    height: 2em;
    border-radius: 0 0 0.75em 0.75em;
}

#settingSection {
    border-bottom: 1px solid rgb(173, 173, 173);
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

#formBox {
    margin: auto;
    padding-bottom: 2em;
    text-align: center;
}

#textInput {
    width: 30em;
    height: inherit;
    padding-left: 12px;
    border-radius: 0.35em 0 0 0.35em;
    border: 1px solid white;
    vertical-align: middle;
    float: left;
}

#textInput:focus {
    outline: none;
}

#enterButton {
    float: left;
    height: inherit;
    width: 4em;
    background-color: transparent;
    border-radius: 0 0.35em 0.35em 0;
    border: 1px solid white;
    padding: 5px 0px 5px 0px;
    color: white;
}

#inputBar {
    margin: auto;
    height: 2em;
    width: fit-content;
    margin-top: 1em;
    margin-bottom: 1em; 
}

#submitButton {
    width: 7em;
    height: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em; 
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0.35em;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;        
}

#submitButton:hover {
    border: 1px solid #f36384;
    /* color: #f36384; */
}

button:hover {
    background-color: grey;
}

#bottomSection {
    padding: 0;
    margin: 0;
}

#cardSection {
    margin-top: 2em;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

#cardSection > div {
    width: 320px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

#hamburgerContainer {
    margin-top: 2em;
    display: block;
    float: right;
    color: white;
    margin-right: 2em;
    clear: left;
}

.hambugerMenu {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}