$accent-color: #f36384;
$white-accent: whitesmoke;

#topSection {
    background-color: rgba(37, 37, 37, 0.795);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.397);

    #formBox {
        margin: auto;
        padding-top: 3em;
        padding-bottom: 2em;
        text-align: center;
    }

    #pageTitle {
        color: $accent-color;
        font-weight: 700;
        clear: both;
    }
    
    #pageDescription {
        font-weight: 500;
        color: $white-accent;
    }

    #textInput {
        width: 30em;
        height: inherit;
        padding-left: 12px;
        border-radius: 0.35em 0 0 0.35em;
        border: 1px solid white;
        vertical-align: middle;
        float: left;
    }
    
    #textInput:focus {
        outline: none;
    }
    
    #enterButton {
        float: left;
        height: inherit;
        width: 4em;
        background-color: transparent;
        border-radius: 0 0.35em 0.35em 0;
        border: 1px solid white;
        padding: 5px 0px 5px 0px;
        color: white;
    }

    #enterButton:hover {
        color: $accent-color;
    }
    
    #enterButton:active {
        color: #f14870;
    }

    #inputBar {
        margin: auto;
        height: 2em;
        width: fit-content;
        margin-top: 1em;
        margin-bottom: 1em; 
    }
    
    #submitButton {
        width: 7em;
        height: 2em;
        margin-top: 1em;
        margin-bottom: 0.5em; 
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 0.35em;
        -moz-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;
        -webkit-transition: all .1s ease-in;
        transition: all .1s ease-in;        
    }
    
    #submitButton:hover {
        border: 1px solid $accent-color;
    }

    #submitButton:active {
        color: $accent-color;
    }

    #submitButton:focus {
        outline: 0;
    }
}

#bottomSection {
    padding: 0;
    margin: 0;

    #cardSection {
        margin-top: 2em;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    #cardSection > div {
        width: 320px;
    }
    
    #informationContainer {
        display: block;
        clear: both;
        
        #informationCard {
            margin: auto;
            margin-top: 10em;
            padding: 2em 2em 1em 2em;
            background-color: rgba(37, 37, 37, 0.349);
            box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.397);
            display: inline-block;
            color: whitesmoke;
            text-align: left;
    
            img {
                float: right;
                width: 0.75em;
                margin-top: -1em;
                margin-right: -1em;
            }
            
            img:hover {
                background-color: rgb(128, 128, 128);
            }
            
            img:active {
                background-color: rgb(51, 51, 51);
            }

            ol {
                padding: 0;
                list-style-position: inside;
            }

            h3 {
                color: $accent-color;
            }
        }
    }

    #settings {
        width: 20px;
    }
    
    #pullDownBar {
        float: right;
        margin-right: 2em;
        background-color: rgb(65, 61, 61);
        width: 5em;
        height: 2em;
        border-radius: 0 0 0.75em 0.75em;
    }
    
    #settingSection {
        border-bottom: 1px solid rgb(173, 173, 173);
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
    }    
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

#footer {
    position: absolute;
    padding: 0.5em 0 0.5em 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(63, 63, 63, 0.445);

    #footerItems {
        float: right;
        padding-right: 2em;

        #github {
            vertical-align: middle;
            color: white;
            a {
                color: white;
            }
        }
    }
}