<div class="card noselect" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Alternative Input</h5>
    <p class="card-text">Select a more specific input instead of '{{ item.title }}'. Click on an item to change it.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" 
        *ngFor="let aLink of item.links" 
        (click)="itemClicked(aLink)">
      <div id="leftSide">
        {{ aLink }}
      </div>
    </li>
  </ul>
  <div id="bottomSection">
    <span id="textSpan" (click)="close()">Ok</span>
  </div>
</div>