.card {
    text-align: left;
    border-radius: 0;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}

ul {
    height: 20em;
    overflow: hidden;
    overflow-y: scroll;
}

li {    
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;    
    padding-right: 0px;
}

ul::-webkit-scrollbar {
    width: 0.5em;
}
 
ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

li:hover {
    background-color: #ada4a4;
    border-color: #ada4a4;
}

li:active {
    background-color: #857f7f;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

#bottomSection {
    margin: 0.5em 0.5em 0.5em 0.5em;
}

#textSpan {
    float: right;
    margin-right: 1em;
    color: rgb(52, 128, 214);
}

#textSpan:hover {
    color: rgb(35, 120, 216);
    font-weight: bold;
}

#textSpan:active {
    color: rgb(52, 128, 214);
    font-weight: normal;
}
