<div class="card noselect" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">More information</h5>
      <p class="card-text">The input '{{ item.title }}', can be described with the following categories.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" 
          *ngFor="let category of item.categories">
        <div id="leftSide">
          {{ category }}
        </div>
      </li>
    </ul>
    <div id="bottomSection">
      <span id="textSpan" (click)="close()">Ok</span>
    </div>
  </div>